html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000;

    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 160%;
}

#mcmap {
    width: 100%;
    height: 100%;
}

.infoWindow {
    /*height: 100px;*/
}

.infoWindow p {
    margin: 0;
}

.infoWindow>img {
    width:80px;
    float: left;
    image-rendering: -moz-crisp-edges;
}

.infoWindow>p {
    text-align: center;
    font-family: monospace;
}

.customControl {
    padding: 10px 0px;
    cursor: pointer;
}

.customControl > select {
    border: 0;
    border-radius: 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    text-align: center;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    padding: 7px;
    position: fixed;
    top: 48px;
    left: 10px;
    width: 166px;
}

.customControl > div.top {
    border: 0;
    border-radius: 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    text-align: center;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    padding: 8px;
    background-color: white;
    width: 150px;
    position: fixed;
    top: 85px;
    left: 10px;
}

.customControl > div.top:hover {
    /*border: 1px solid #678AC7;*/
    border-bottom: 0;
}

.customControl > div.top-active {
    border-top-left-radius: : 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    text-align: center;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    padding: 8px;
}

.customControl > div.dropDown {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: left;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    padding: 5px;
    font-size: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
    display: none;
    position: fixed;
    top: 113px;
    left: 10px;
    width: 156px;
}

.customControl > div.button {
    border: 1px solid #000;
    font-size: 12px;
    background-color: #fff;
    display: none;
}

#coordsDiv {
  background-color: #fff; /* fallback */
  background-color: rgba(255,255,255,0.55);
  border: 0;
  border-radius: 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
  text-align: center;
  color: rgb(86, 86, 86);
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  padding: 2px;
  background-color: white;
  margin-bottom: 3px;
}

#link, #progressDiv {
    background-color: #fff; /* fallback */
    background-color: rgba(255,255,255,0.55);
    font-size: 9pt;
    padding-left: 2px;
    padding-right: 2px;
}

#link:hover {
    background-color: #fff; /* fallback */
    background-color: rgba(255,255,255,0.8);
}

#searchControl {
    padding: 5px;
    height: 20px;
    font-family: Arial, sans-serif;
}

#searchControl > input {
    border: 2px solid #000;
    font-size: 12pt;
    width: 20em;
    background-color: #fff;
}

#searchControl>input.inactive {
    color: #ccc;
}

#searchControl>input.active {
    color: #000;
}

div#searchDropDown {
    border: 1px solid #000;
    width: 17em;
    font-size: 14pt;
    background-color: #fff;
    display: none;
}

div.searchResultItem  {
    overflow: hidden;
    text-overflow: ellipsis;
}

div.searchResultItem img {
    width: 24px;
    height: 24px;
}
